.container-fluid{
    /* background-image: url('/assets/background.jpeg'); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;

}
.nav-item img {
    height: 3rem;
    width: 3.5rem;

}

nav {
    background-color:rgba(0, 0, 255, .4);
    color: white;
    justify-content: space-around;
}
.btn {
    background-color: black;
    height: 2.5rem;
    width: 5.5rem;
}
.heading {
    padding: 2rem;
    font-size: 35px;
    font-family: 'Oleo Script Swash Caps', cursive;
    
}
span{
    display: block;
}
